<div> 
   <app-header></app-header>
      <div *ngIf="this.userloading">
      <div class="flex flex-row justify-center mt-5">
         <div class = "animate-spin rounded-full h-16 w-16 border-b-2 top-0 left-0 border-white"></div>
      </div>
    
     
   </div>



   <div *ngIf="!this.userloading">

          <!--  -->

      <div *ngIf="this.usernotreg">
        
         <div class=" m-5 rounded-lg text-center bg-[#423F3E] p-5 text-3xl font-bold ">
            NO DATA AVAILABLE .KINDLY CONSULT A DOCTOR !
         </div>
      </div>

 <div *ngIf = "!this.usernotreg">
   <div class="text-[#CC9544] font-bold text-5xl text-center items-center mt-5">
      Hello {{this.userdata.name}} !!
   </div>
   <div class="bg-[#423F3E] m-5">
      <div class="text-center text-4xl font-bold text-white m-3" >Your Stats</div>
      <div class="flex flex-row flex-wrap justify-evenly">
              <div class="text-black  font-bold text-2xl mt-3">BP:- {{this.userdata.bp}} </div>
              <div  class="text-black  font-bold text-2xl mt-3">Age:- {{this.userdata.age}}</div>
      </div>
      <div class="flex flex-row flex-wrap justify-evenly">
          <div class="text-black  font-bold text-2xl mt-3">Height:-{{this.userdata.ht}} </div>
          <div class="text-black  font-bold text-2xl mt-3">Weight:- {{this.userdata.wt}}</div>
  </div>
   </div>

   <div class="text-white text-5xl font-bold text-center">Your Meds</div>

   <div class="flex flex-row justify-evenly">
<div *ngIf="this.usermeddata.length>0">
   <div *ngFor="let item of usermeddata">
      <div class="bg-[#423F3E] m-5 rounded-lg items-center p-5">
         
         <div class="text-[#171010] text-2xl ml-2 font-semibold"> {{item[1]}}  </div>
         <div class="text-black text-center font-bold text-xl "> {{item[2]}} </div>
         <div class="text-green-400 font-bold  text-xl text-center"> {{item[3]}} </div>
         <!-- <div class="flex flex-row">
             <button class="bg-red-800 rounded-md text-white p-2 m-1"> Discontinue </button>
             <button  class="bg-green-700 rounded-md text-black p-2 m-1" >Modify Dose</button>
         </div> -->
      </div>
   </div>
      
     </div>

     <div *ngIf="this.usermeddata.length==0">
      <div class=" m-5 rounded-lg text-center bg-[#423F3E] p-5 text-xl font-bold ">
         NO MEDS ADDED !
      </div>
     </div>

   
</div>
    
 </div>
  
 
   
   </div>

  

</div>
